<%- include("partials/header.ejs") %>

<div class="contact_form">
    <form action="/contact" method="post">
        <h2>Contact Me</h2>
        <label for="name">
            <input type="text" name="name" id="name" placeholder="Type your Name" required>
        </label>
        <label for="email">
            <input type="email" name="email" id="email" placeholder="Type your Email " required>
        </label>
        <label for="message">
            <textarea name="message" id="message" placeholder="Type your Message here" required></textarea>
        </label>
        <button type="submit">Submit</button>
    </form>
</div>

<%- include("partials/footer.ejs") %>